.header {
  background-color: #1b1c1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: 11;
  animation: animatiosHeader linear 1s;
}
@keyframes animatiosHeader {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header__logo {
  width: 30px;
  margin-left: 1em;
}
.header__logo-last {
  margin: 0 40px 0 20px;
  width: 150px;
}
.header__logo img {
  width: 100%;
}
.header__text p {
  font-size: 0.75em;
  color: #ccc;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
.header__text{
  padding: 0 10px;
  position: relative;
}
.header__text::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  width: 0%;
  height: 5px;
  background: #f2c82d;
  transition: .5s;
}
.header__text:hover::after{
  width: 100%;
}
.header__btn a {
  border: none;
  background: #f2c82d;
  font-size: 0.625em;
  line-height: 22px;
  color: #000;
  padding: 18px 20px;
}
